<style>
  :root {
    --brand-color: #962d40 !important;
    --link-color: #962d40 !important;
  }
  a { color: #962d40 !important; }
  .nav-list-link.active { color: #962d40 !important; }
  .nav-list-item.active > .nav-list-link::before { 
    background-color: #962d40 !important; 
  }
  .btn-primary { background-color: #962d40 !important; border-color: #962d40 !important; }
  /* Efecto para las imágenes de la matriz */
.img-click-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
  border-radius: 8px; 
}

.img-click-effect:hover {
  transform: scale(1.08); 
  opacity: 0.9;           
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
</style>
